{%extends 'basic.html'%}

{%block title%}Home{%endblock title%}
{%block body%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusamus sapiente ab.
        </div>
        <div class="col-md-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In explicabo possimus perspiciatis nobis architecto deserunt odit nostrum, nemo esse fuga omnis deleniti est!
        </div>
    </div>
</div>

{%endblock body%}